

.experience, .education, .skills {
  display: flex;
  @media (max-width: 780px) {
    display: block;
  }
}
.widthFix {
  width: 20rem;
  @media (max-width: 780px) {
    width: auto;
  }
}
.listingSub {
}
a {
  color: #24a3af;
  font-weight: 450;
}
.getPlayers {
  display: flex;
  // border: solid;
  padding: 1rem;
  padding-left: 0;
  // border-radius: .5rem;
  // border-color: #DD00F8;
  .getPlayersButton {
    padding: 1rem;
    background-color: #3900F8;
    border-radius: .5rem;
    border-style: none;
    color: #fff;
  }
}
.writingWrapper {
  display: flex;
  flex-direction: row;
}
.writingContent {
}
.writingSidebar {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  @media (max-width: 780px) {
    display: none;
  }
}
.writingTag {
  // border: solid;
  color: #fff;
  background-color: #DD00F8;
  padding: 2rem;
  border-radius: .75rem;
}
.writingTaglist {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: center;
  list-style-type: none;
  @media (max-width: 780px) {
    width: auto;

  }
}

// classes for notes and warnings, callouts will currently be done in markdown files with raw HTML.
.note {
  //  border: solid;
  border-radius: .5rem;
  // border-color: grey;
  background-color: #ffe35b;
  padding: 2rem;
  margin: 2rem;
}
// .warning {
//
// }

.colorBar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: .5rem;
  border: none;
  color: #fff;
  border-color: black;
  background-image: linear-gradient(90deg, #3900F8, #DD00F8, #39E9F8);
  margin-top: 3rem;
}

.bumpDown {
  margin-top: 3rem;
}

.endpointRef {
  // border: solid;
  border-width: .1rem;
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.indEndpoint {
  margin-top: 1rem;
  border: solid;
  border-width: .1rem;
  padding-top: 1rem;
  // I don't know why regular border-radius doesn't work
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.listEndpoint {
  list-style-type: none;
  padding-left: none;
}
.codeEndpoint {
  margin-top: 1rem;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  // I don't know why regular border-radius doesn't work
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem;
  padding-left: 4rem;
  text-overflow: clip;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12pt;
  @media (max-width: 720px) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: 720px) {
    display:block;
    font-style: italic;
    color: #8795A1;
  }
}
.likeButton {
  width: 8rem;
  height: 8rem;
  background: transparent;
  background-image: url(../img/round-sentiment_satisfied-24px.svg);
  background-size: 100% 100%;
  border: none;
}
.dislikeButton {
  width: 8rem;
  height: 8rem;
  background: transparent;
  background-image: url(../img/round-sentiment_dissatisfied-24px.svg);
  background-size: 100% 100%;
  border: none;
}
.strongPoint{
  padding-left: 4rem;
  font-weight: 600;
  border: solid;
  border-width: .1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.codeDescription {
  margin-bottom: 1.5rem;
}
.lookAtMe {
  color: rgb(51,51,51);
  background: linear-gradient(45deg, #DD00F8, #3900F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.andMe {
  color: rgb(51,51,51);
  background: linear-gradient(45deg, #3900F8, #DD00F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.landingPage {
  margin-top: 30vh;
  margin-bottom: 10vh;
  text-overflow: clip;
}
img {
  vertical-align: middle;
  max-width: 600px;
  max-height: 400px;
  border-style: solid;
  border-width: thin;
  @media (max-width: 700px) {
    max-width: 100%;
  }
}
.imgOverrideTall {
  max-width: 600px;
  max-height: unset;
  @media (max-width: 700px) {
    max-width: 100%;
  }
}
.imgOverrideSmall {
  max-width: 400px;
  max-height: 200px;
  @media (max-width: 700px) {
    max-width: 100%;
  }
}

.mr-12 {
  // margin-right: 3rem;
}

.resume-section-content {
  margin-left: 10rem;
  
  @media (max-width: 700px) {
    margin-left: unset;
  }
}