---
layout: default
---
<div class="container">
  <h1>{{ page.title }}</h1> <!-- pulls page title -->
  {{ content }} <!-- draws all page content after the frontmatter -->
  <div class="flex"> <!-- wraps entire experience section -->
    <!-- iterate through the 'experience_section' multidimensional array -->
    <h2 class="mr-12">{{ site.data.resumeconfig.experience_section.experience_section_name }}</h2> <!-- draw the experience section name at this level of the array -->
    <div class=""> <!-- wraps all experience listings -->
       {% for item in site.data.resumeconfig.experience_section.subsection %}
      <div class="content"> <!-- wraps each company -->
        <h3> {{ item.subsection_name }}</h3>
        <div class=""> <!-- wraps each job -->
          <h4> {{ item.job_title}} </h4>
          <p> {{ item.tenure}} </p>
          {% for entry in item.focus_area %}
          <div class=""> <!-- wraps each experience subsection -->
            <h4>{{ entry.focus_area_name }}</h4>
            <ul>
              {% for value in entry.focus_area_list %}
              <li>
                {{ value }}
              </li>
              {% endfor %}
            </ul>
        </div> <!-- wraps each experience subsection -->
        {% endfor %}
      </div> <!-- wraps each job -->
    </div> <!-- wraps each company -->
    {% endfor %}
</div> <!--wraps all experience listings-->

</div> <!-- wraps entire experience section -->

<div class="flex"> <!-- wraps all of education -->
  <h2 class="mr-12">{{ site.data.resumeconfig.education_section.education_section_name }}</h2>
  <div class=""> <!-- wraps all education listings -->
    {% for item in site.data.resumeconfig.education_section.subsection %}
    <div class="content"> <!-- wraps whole university listing -->
      <h3>{{ item.subsection_name }}</h3>
      <div class="">
        <h4>{{ item.degree_name }}</h4>
        <p>{{ item.graduation_date }}</p>
      </div> <!-- wraps all roles under company, including job/employment dates -->
    </div> <!-- wraps whole university listing -->
    {% endfor %}
  </div> <!-- wraps all education listings -->
</div> <!-- wraps all of education -->

<div class="flex"> <!-- wraps all of skills -->
  <h2 class="mr-12">{{ site.data.resumeconfig.skills_section.skills_section_name }}</h2>
  <div class=""> <!-- wraps all skills listings -->
    {% for item in site.data.resumeconfig.skills_section.subsection %}
    <div class="content"> <!-- wraps single skill type -->
      <h3>{{ item.subsection_name }}</h3>
      <!-- iterate through the subsection list -->
      {% for value in item.subsection_list %}
        <div class="">
          <ul>
            <li>
              <!-- draw the list values of the subsection list -->
              {{ value }}
            </li>
          </ul>
        </div>
      {% endfor %}
    </div> <!-- wraps single skill type -->
    {% endfor %}
  </div> <!-- wraps all skills listings -->
</div> <!-- wraps all of skills -->

{{# Document Description:
This template provides the look and feel for the resume page. It requires the presence of a properly configured index.md page under the resume directory in order to function correctly.
#}}
  {{ /pages }} <!-- stops pulling frontmatter fields from the resume page -->
</div>
