---
layout: default
---

<h2 id="writing-samples">Writing samples</h2>

<div class="writing-samples">
  {% for item in site.data.writingsampleconfig.toc %}
    <div class="book">
      {% if {{item.link}} %}
        <h3><a href="{{item.link}}">{{item.title}}</a></h3>
      {% else %}
        <h3>{{item.title}}</h3>
      {% endif %}
      {% if {{item.pages}} %}
        <ol class="sample-pages">
          {% for entry in item.pages %}
            <li>
              <a href="{{ entry.link }}">{{ entry.page }}</a>
            </li>
          {% endfor %}
        </ol>
      {% endif %}
    </div>
  {% endfor %}
  </div>  


<h2 id="code-samples">Code samples</h2>

<div class="writing-samples">
  {% for item in site.data.codesampleconfig.toc %}
    <div class="book">
    <h3>{{item.title}}</h3>
    <ul>
    {% for entry in item.pages %}
    <li>
      <a href="{{ entry.link }}">{{ entry.page }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
  {% endfor %}
</div>

{{ content }}